@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// animations

//animations imgAI
@keyframes shake {
  0% {
    transform: scale(1.08) translateX(0);
  }
  20% {
    transform: scale(1.08) translateX(-4px);
  }
  40% {
    transform: scale(1.08) translateX(4px);
  }
  60% {
    transform: scale(1.08) translateX(-3px);
  }
  80% {
    transform: scale(1.08) translateX(3px);
  }
  100% {
    transform: scale(1.08) translateX(0);
  }
}
// end animations imgAI

// animations inner advise
@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

// end animations inner advise

// animations titile
@keyframes typing {
  0% {
    width: 0;
  }
  35% {
    width: 32ch;
  }
  55% {
    width: 32ch;
  }
  85% {
    width: 0;
  }
  100% {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
// end animations title

//end animations

// background
@keyframes gridMoveDiagonal {
  from {
    background-position:
      0 0,
      0 0,
      center,
      center;
  }
  to {
    background-position:
      40px 40px,
      40px 40px,
      center,
      center;
  }
}
html {
  scroll-behavior: smooth;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #7b7b82;
}

::-webkit-scrollbar-thumb {
  background: #f26c21;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f26c21;
}
body {
  transition: 0.75s ease;
  font-family: "Be Vietnam Pro", sans-serif;
  margin: 0;
  background:
    linear-gradient(to right, rgba(71, 85, 105, 0.15) 1px, transparent 1px) 0%
      0% / 40px 40px,
    linear-gradient(rgba(71, 85, 105, 0.15) 1px, transparent 1px) 0% 0% / 40px
      40px,
    radial-gradient(
      circle at 10% 70%,
      rgba(143, 4, 74, 0.286) 10%,
      rgba(168, 85, 247, 0.05) 40%,
      transparent 70%
    ),
    radial-gradient(
        circle at 90% 70%,
        rgba(4, 143, 134, 0.286) 10%,
        rgba(168, 85, 247, 0.05) 40%,
        transparent 70%
      )
      rgb(3 9 35);
  background-attachment: fixed;
  animation: gridMoveDiagonal 3s linear infinite;
}
.sun {
  & .section__5 {
    & .inner__content{
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    & .inner__content:hover {
      border: 1px solid #f26c21;
      & .fa-layer-group {
        color: #f26c21;
      }
    }
    & .inner__text {
      & p {
        color: var(--color-text-background-sun);
      }
    }
    & .inner__problem {
      & p {
        color: var(--color-text-background-sun);
      }
    }
    & h2 {
      color: var(--color-text-background-sun);
    }
  }
  & .section__4 {
    & .inner__title {
      & h2 {
        color: var(--color-text-background-sun);
      }
      & p {
        color: var(--color-text-background-sun);
      }
    }
    & .inner__item {
      & .item:hover {
        border: 1px solid #f26c21 !important;
      }
      & .item {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        & p {
          color: var(--color-text-background-sun);
        }
      }
    }
  }
  & .section__3 {
    & h2 {
      color: var(--color-text-background-sun);
    }
    & .container {
      & p {
        color: var(--color-text-background-sun);
      }
    }
    & .item {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      & .inner__content {
        & h3 {
          color: var(--color-text-background-sun);
        }
      }
    }
  }
  & .section__2 {
    & .inner__item {
      & .item {
        background: white;
        & h3 {
          color: var(--color-text-background-sun);
        }
      }
    }
    & .inner__title {
      & h2 {
        color: var(--color-text-background-sun);
      }
      & p {
        color: var(--color-text-background-sun);
      }
    }
  }
  & .inner__advise,
  .inner__advise1,
  .inner__advise2 {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    & .inner__description {
      & p {
        color: var(--color-text-background-sun) !important;
      }
    }
  }
  & .logo__sun {
    display: block !important;
  }
  & .logo__dark {
    display: none;
  }

  header {
    & .list__menu {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      & a {
        color: var(--color-text-list-menu-sun);
        transition: 0.25s ease;
      }
      & a:hover {
        color: #f26f25;
      }
    }
    & .inner__darkmode {
      backdrop-filter: blur(3px);
      background-color: #e2e8f0;
      border: 1px solid #cbd5e1;
      & .fa-sun {
        background: white;
        padding: 8px;
        border-radius: 50%;
        color: #f97316;
      }
      & .fa-moon {
        background: #0f172a00;
        border-radius: 0;
        padding: 0px;
        color: var(--color-text-list-menu);
      }
    }
  }
  background:
    linear-gradient(to right, rgb(240, 240, 240) 1px, transparent 1px) 0% 0% /
      20px 20px,
    linear-gradient(rgb(240, 240, 240) 1px, transparent 1px) 0% 0% / 20px 20px,
    radial-gradient(600px at 0% 200px, rgb(213, 197, 255), transparent) 0% 0% /
      100% 100%,
    radial-gradient(600px at 100% 200px, rgb(213, 197, 255), transparent) 0%
      0% / 100% 100% rgb(255, 255, 255);
  transition: 0.75s ease;
  background-attachment: fixed;
  background-repeat:
    repeat repeat,
    repeat repeat,
    no-repeat no-repeat,
    no-repeat no-repeat;
  background-size:
    20px 20px,
    20px 20px,
    100% 100%,
    100% 100%;
}
//end background

// header
header {
  z-index: 99999;
  position: sticky;
  top: 0;
  & .inner__darkmode {
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgb(255 255 255 / 0.1);
    border-radius: 30px;
    padding: 2px 8px;
    display: flex;
    gap: 10px;
    align-items: center;
    & .fa-sun {
      cursor: pointer;
      color: var(--color-text-list-menu);
    }
    & .fa-moon {
      cursor: pointer;
      background: #0f172a;
      border-radius: 50%;
      padding: 8px;
      color: #facc15;
    }
  }
  & .btn__useAI {
    margin-left: 2%;
    box-shadow:
      rgba(233, 204, 55, 0.283) 0px 0px 66px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background: linear-gradient(
      90deg,
      rgb(56, 229, 59) 0%,
      rgb(83, 205, 97) 50%,
      rgb(239, 169, 39) 98%
    );
    border: 0;
    transition: 0.5s ease;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    text-decoration: none;
  }
  & .btn__useAI:hover {
    filter: brightness(1.1);
  }
  & .menu__item {
    display: flex;
  }
  & .inner__menu {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
  & .container {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  & .list__menu {
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    padding: 8px 24px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(3px);
    border: 1px solid rgb(255 255 255 / 0.1);
    & ul {
      justify-content: center;
      padding: 0px;
      margin: 0;
      display: flex;
      gap: 20px;
    }
    & li {
      list-style-type: none;
    }
    & a {
      transition: 0.25s ease;
      font-size: 14px;
      text-decoration: none;
      list-style-type: none;
      color: var(--color-text-list-menu);
    }
    & li:hover {
      & a {
        color: white;
      }
    }
  }
}
// end header

// section 1
.section__1 {
  margin-bottom: 100px;
  margin-top: 100px;
  & .logo__sun {
    position: relative;
    right: 5.25%;
    display: none;
  }
  & .container {
    padding-left: 5%;
    padding-right: 5%;
  }
  & .inner__content {
    align-items: center;
    width: 100%;
    display: flex;
    & .inner__title {
      width: 50%;
      text-align: center;
      display: flex;
      flex-direction: column;
      span {
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        width: 32ch;
        white-space: nowrap;
        overflow: hidden;
        border-right: 2px solid #595959;
        animation:
          typing 7s steps(32) infinite,
          blink 0.7s step-end infinite;
        font-weight: 800;
        font-size: 25px;

        background: linear-gradient(124deg, #ffae00, #b136ba);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
      & img {
        width: 728px;
        height: auto;
      }
    }
    & .inner__imgAI {
      position: relative;
      width: 50%;
      display: flex;
      justify-content: center;
      & .inner__advise,
      .inner__advise1,
      .inner__advise2 {
        animation: floatUpDown 3s ease-in-out infinite;
        left: 5%;
        top: 80%;
        z-index: 2;
        display: flex;
        gap: 10px;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(3px);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        padding: 10px;
        & .inner__description {
          width: 100%;
        }
        & .logo__AIadvise {
          padding: 10px 11px;
          border-radius: 50%;
          background: #2563eb;
          color: white;
          font-weight: bold;
        }
        & .inner__description {
          & span {
            font-size: 13px;
            color: var(--color-text-section1-description);
          }
          & p {
            color: white;
            font-weight: 600;
            margin: 0;
            text-align: center;
          }
        }
      }
      & .inner__advise1 {
        right: 1%;
        left: auto;
        top: 37%;
      }
      & .inner__advise2 {
        top: 5%;
      }
      & img {
        width: 500px;
        height: auto;
        transition: 0.5s ease;
      }
      & img:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
      & img:active {
        animation: shake 0.35s ease;
      }
    }
  }
}
//end section 1

// section 2
.section__2 {
  margin-bottom: 100px;
  & .inner__item {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    & .item {
      transition: 0.25s ease;
      padding: 20px;
      border-radius: 10px;
      width: 33%;
      background-color: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(3px);
      border: 1px solid rgba(255, 255, 255, 0.1);
      & .fa-brain,
      .fa-seedling,
      .fa-lightbulb {
        transition: 0.5s ease;
        padding: 10px;
        font-size: 30px;
        border-radius: 10px;
        background: rgb(255 255 255 / 0.05);
        color: #f26c21;
      }
      & h3 {
        color: white;
      }
      & p {
        color: #969ea9;
      }
    }
    & .item:hover {
      cursor: pointer;
      border: 1px solid #13e6ed;
      & .fa-brain,
      .fa-seedling,
      .fa-lightbulb {
        color: #13e6ed;
        transform: scale(1.1);
      }
    }
  }
  & .container {
    padding-left: 5%;
    padding-right: 5%;
  }
  & .inner__title {
    text-align: center;
    & h2 {
      font-size: 40px;
      color: white;
      & span {
        background: linear-gradient(
          90deg,
          rgba(255, 20, 165, 1) 0%,
          rgba(240, 161, 34, 1) 50%,
          rgba(255, 136, 0, 1) 100%
        );
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
    & p {
      font-weight: 500;
      color: white;
      & span {
        font-weight: bold;
        color: #f26c21;
      }
    }
  }
}
//end section 2

// section 3
.section__3 {
  margin-bottom: 100px;
  & .container {
    padding-left: 5%;
    padding-right: 5%;
    & p {
      margin-bottom: 80px;
      color: white;
      font-weight: 500;
      text-align: center;
    }
  }
  & h2 {
    text-align: center;
    font-size: 40px;
    color: white;
  }
  & .item {
    margin-top: 30px;
    gap: 40px;
    display: flex;
    margin-left: auto;
    width: 57%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    height: 300px;
    margin-right: auto;
    & .inner__img {
      height: 100%;
      position: relative;
      width: 30%;
      & img {
        border-radius: 10px 0 0px 10px;
        width: 100%;
        object-position: right;
        height: 100%;
        position: absolute;
        object-fit: cover;
      }
    }
    & .inner__content {
      width: 60%;
      & h3 {
        font-size: 20px;
        text-align: center;
        color: white;
      }
      & p {
        margin-top: 10px;
        margin-bottom: 10px;
        color: rgb(141, 141, 141);
      }
      & .btn__useAI {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        width: 120px;
        margin-left: auto;
        margin-right: auto;
        box-shadow:
          rgba(233, 204, 55, 0.283) 0px 0px 66px 0px,
          rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        background: linear-gradient(
          90deg,
          rgb(56, 229, 59) 0%,
          rgb(83, 205, 97) 50%,
          rgb(239, 169, 39) 98%
        );
        border: 0;
        transition: 0.5s ease;
        padding: 10px 20px;
        border-radius: 30px;
        color: white;
        font-size: 16px;
        text-decoration: none;
      }
      & .btn__useAI:hover {
        filter: brightness(1.1);
      }
    }
  }
}
//end section 3

// section 4
.section__4 {
  margin-bottom: 100px;
  & .inner__item {
    margin-top: 80px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }
  & .item:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  & .item {
    cursor: pointer;
    transition: 0.25s ease;
    padding: 20px;
    border-radius: 10px;
    width: 28%;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    & .fa-book-open {
      font-size: 20px;
      color: #f26c21;
    }
    & p {
      color: white;
    }
  }
  & .inner__title {
    text-align: center;
    & h2 {
      font-size: 40px;
      color: white;
    }
    & p {
      color: white;
    }
    & span {
      background: linear-gradient(
        90deg,
        rgb(255, 20, 165) 0%,
        rgb(240, 161, 34) 50%,
        rgb(255, 136, 0) 100%
      );
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
  & .container {
    padding-left: 5%;
    padding-right: 5%;
  }
}
//end section 4

// section 5
.section__5 {
  margin-bottom: 100px;
  & .inner__content:hover {
    border: 1px solid #13e6ed;
    & .fa-layer-group {
      color: #13e6ed;
    }
  }
  & .inner__content {
    cursor: pointer;
    transition: 0.25s ease;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  & .inner__text {
    & p {
      color: var(--color-text-section1-description);
    }
  }
  & .inner__problem {
    display: flex;
    align-items: center;
    gap: 10px;
    & .fa-layer-group {
      transition: 0.25s ease;
      color: #f26c21;
    }
    & p {
      color: white;
    }
  }
  & .container {
    padding-left: 20%;
    padding-right: 20%;
  }
  & h2 {
    font-size: 40px;
    color: white;
    text-align: center;
  }
  & span {
    background: linear-gradient(
      90deg,
      rgb(255, 20, 165) 0%,
      rgb(240, 161, 34) 50%,
      rgb(255, 136, 0) 100%
    );
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
//end section 5
