// background
@keyframes gridMoveDiagonal {
  from {
    background-position:
      0 0,
      0 0,
      center;
  }
  to {
    background-position:
      32px 32px,
      32px 32px,
      center;
  }
}

body {
  margin: 0;
  background:
    linear-gradient(to right, rgba(71, 85, 105, 0.15) 1px, transparent 1px) 0%
      0% / 40px 40px,
    linear-gradient(rgba(71, 85, 105, 0.15) 1px, transparent 1px) 0% 0% / 40px
      40px,
    radial-gradient(
        circle at 50% 60%,
        rgba(236, 72, 153, 0.15) 0%,
        rgba(168, 85, 247, 0.05) 40%,
        transparent 70%
      )
      0% 0% / 100% 100% rgb(2, 6, 23);

  background-size:
    32px 32px,
    32px 32px,
    100% 100%;
  animation: gridMoveDiagonal 5s linear infinite;
}
//end background

// header
header {
  & .inner__menu {
    padding-top: 10px;
  }
  & .container {
    padding-left: 10%;
    padding-right: 10%;
  }
  & .list__menu {
    width: 480px;
    padding: 8px 24px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(3px);
    border: 1px solid rgb(255 255 255 / 0.1);
    & ul {
      margin: 0;
      display: flex;
      gap: 20px;
    }
    & li {
      list-style-type: none;
    }
    & a {
      text-decoration: none;
      list-style-type: none;
      color: var(--color-text-list-menu);
    }
  }
}
// end header
